*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:last-child {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::after,
.cell.x::before,
.cell.circle::after,
.cell.circle::before {
  background-color: #000000;
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: #8a8a8a;
}

.cell.x::after,
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
  content: "";
  position: absolute;
  width: calc((100px * 0.9) * 0.15);
  height: calc(100px * 0.9);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(45deg);
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(-45deg);
}

.cell.circle::after,
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  height: calc(100px * 0.9);
  width: calc(100px * 0.9);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  height: calc(calc(100px * 0.9) * 0.7);
  width: calc(calc(100px * 0.9) * 0.7);
  background-color: #ffffff;
}

.hidden {
  display: none !important;
}

.winner {
  position: fixed;
  background-color: #00000082;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-inner {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.restart,
.start-game {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 1em 3em;
  font-weight: bold;
  background-color: #ff9100;
}

.start-container {
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000af;
}

.start-inner {
  border-radius: 20px;
  height: 60vh;
  width: 60vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.player-1,
.player-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
